[defaults]
inventory               = inventaires

gathering               = smart
fact_caching            = redis
fact_caching_connection = 192.168.56.246:6379:0:azerty
fact_caching_timeout    = 86400
